@import "@/css/config.scss";

body {
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: $accentDim;
}

a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn {
  display: block;
  padding: 16px 32px;
  background-color: $accentDim;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_smol {
  min-width: 120px;
  padding: 8px 16px;
}

.btn:disabled {
  background-color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: white;
  font-size: 1.2rem;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(138, 149, 154);
  color: rgb(131, 134, 136);
}
